@import '../../../../styles/colors.scss';

.form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: $white;
  padding: 2.5rem;
  margin: 2.5rem;
  border-radius: 0.5rem;
  align-self: center;
  box-shadow: 0 0.063rem 0.188rem -0.063rem $black;

  .submit {
    margin-top: 2rem;
    &:disabled {
      background-color: $disabledBackground;
      color: $disabledText;
      cursor: not-allowed;
      &:hover {
        opacity: 1;
      }
    }
  }

  .link {
    text-align: center;
    color: $primary;
    text-transform: lowercase;
    margin-top: 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
