@import '../../../styles/colors.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primaryDark;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

h4{
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6{
    font-size: 0.75rem;
}
